#!/usr/bin/env bash

#----- This file contains useful aliases to help you write less. -----#

#-- ZSH --#
alias zc="code ~/.zshrc"
alias ozc="code ~/.oh-my-zsh"
alias zs="source ~/.zshrc"
alias zcr="rm -f ~/.zcompdump; compinit"
alias cl="clear"
alias sshc="code ~/.ssh"

#-- MISC --#
# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
alias shell="echo $SHELL"
alias sshkey="pbcopy < ~/.ssh/id_rsa.pub"
# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

#-- GIT --#
alias gitc="git config --global --edit"
alias ghide="git update-index --assume-unchanged"
alias gunhide="git update-index --no-assume-unchanged"

