#----- This file is only used by Git. -----#

[user]
  name = Marvin J. Cortés
  email = marvin.cortes@gmail.com
  signingkey = A7F4D7ABCF248FAF
[core]
  editor = code --wait
  filemode = false
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[color]
  ui = true
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[init]
	defaultBranch = main
[commit]
  gpgSign = true
[tag]
  gpgSign = true
