#----- This file is only used by Git. -----#
# Identity is stored in ~/.gitconfig.local (gitignored).
# Copy dotfiles/.gitconfig.local.example to ~/.gitconfig.local and fill in your details.

[include]
  path = ~/.gitconfig.local
[core]
  editor = code --wait
  filemode = false
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[color]
  ui = true
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[init]
	defaultBranch = main
[commit]
  gpgSign = true
[tag]
  gpgSign = true
